@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'IBM Plex Sans';
    color:  #6A5C55;
}
p{
    margin: 0;
    padding: 0;
}
a{
    list-style-type: none;
}
ul  .licon {
    list-style-type: none;

    flex : auto;
    margin-left: 20px;
    size: 40px;
}

nav{
    background-color: #fff !important;
}

.nav-item{
    font-size: 40;

    font-weight: 500;
}

.navbar .navbar-nav .nav-link {
   
    font-size: 1.1em;
    }
    
.navbar .navbar-nav .nav-link:hover {
    color: #6A5C55;
}

.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #6A5C55;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
    }

.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
}

.badge{
    font-size: 8px;
}

.footer {
    background: #454545;
    margin: 0;

    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: absolute;
}


.social{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.social i{
    color: #fff;
    width: 1em;  
}
.bank{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
   
}
.bank img{
    width: 2.8em;
}

.footerH{
    font-size: 42;
    color: #fff !important;
    font-weight: 200;
    justify-content: center;
    text-align: center;
}
.footerlink a{
    font-size: 1.3em;
    color: #fff !important;
    font-weight: 500;
    
    text-decoration: none;
}